In [1]:
import pandas as pd 
import numpy as np

## WeGO Data Dictionary
​
A trip is defined as one run of the vehicle from one end of the route to another in one direction. Two trips = one round trip. The TRIP_ID field provides a unique indicator for each trip.
​
- CALENDAR_ID: Identifier for the date
- SERVICE_ABBR: Service Type. indicates the schedule type operating that day. 1 = Weekday, 2 = Saturday, 3 = Sunday. Normally this corresponds to the day of the week, but sometimes Saturday or Sunday service will run on a weekday (i.e. during a holiday).
- ADHERENCE_ID: Unique identifier for each record
- DATE: Trip date
- ROUTE_ABBR: Route identifier. Routes can be found here https://www.wegotransit.com/ride/maps-schedules/bus/. For example, Route 55 is Murfreesboro Pike
- BLOCK_ABBR: Indicates the section (block) of the route that the given stop is on
- OPERATOR: Indicates the operator (driver)
- TRIP_ID: Identifies the trip
- OVERLOAD_ID: signifies that the record is from a trip that was added by the dispatcher and was not part of the original schedule for the day. Usually, these are created when one vehicle breaks down and another is covering the same service. As far as the actual value, 0 means that this record was part of the original schedule, and anything other than 0 means it was added.
- ROUTE_DIRECTION_NAME: Which direction the trip is going; Either to downtown or from downtown
- TIME_POINT_ABBR: 
- ROUTE_STOP_SEQUENCE: 
- TRIP_EDGE: defines whether the stop is the first one on the trip (1), an intermediate stop (0), or the last one on a trip (2)
- LATITUDE/LONGITUDE: Location in lat/long
- SCHEDULED_TIME: scheduled time
- ACTUAL_ARRIVAL_TIME: actual arrival time
- ACTUAL_DEPARTURE_TIME: actual departure time
- ADHERENCE: Difference between actual departure time and scheduled time; negative indicates departure time after scheduled time and positive indicates departure time before scheduled time.
- SCHEDULED_HDWY: Scheduled headway in minutes for the given timepoint crossing record; headway is the difference between the scheduled_time and the previous scheduled time for that stop
- ACTUAL_HDWY: Actual headway; Notably, does not exclude overloads, as we want to know about them for actual headway performance
- HDWY_DEV: calculates headway deviation in minutes as the difference between actual and scheduled headway. Negative values indicate a shorter headway than scheduled (i.e. bunching) and positive values indicate a longer headway than scheduled (i.e. gapping)	
- ADJUSTED_EARLY_COUNT: 	
- ADJUSTED_LATE_COUNT: 	
- ADJUSTED_ONTIME_COUNT: 
- STOP_CANCELLED:	flags whether a crossing was canceled or waived
- PREV_SCHED_STOP_CANCELLED: flags whether the previous timepoint crossing was cancelled or waived. Useful for excluding records where the headway values are extremely high because the bus is just coming off a detour
- IS_RELIEF: flags whether a particular crossing is a relief - i.e. the first timepoint crossing of a new driver on the bus/block	
- BLOCK_STOP_ORDER: 
- DWELL_IN_MINS: Actual Departure Time - Actual Arrival Time (in minutes)

In [4]:
headway_data = pd.read_excel("../data/Headway Data, 8-1-2023 to 9-30-2023.xlsx").dropna()
headway_data.head(10)

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
7,120230801,1,99457897,2023-08-01,22,2200,1040,345106,0,TO DOWNTOWN,...,37.666666,2.666666,0,0,1,0,0.0,0,63,13.216666
8,120230801,1,99457898,2023-08-01,22,2200,1040,345106,0,TO DOWNTOWN,...,36.966666,1.966666,0,0,1,0,0.0,0,70,0.000000
9,120230801,1,99457899,2023-08-01,22,2200,1040,345106,0,TO DOWNTOWN,...,14.516666,-0.483334,0,0,1,0,0.0,0,80,0.000000
11,120230801,1,99457901,2023-08-01,22,2200,1040,345107,0,FROM DOWNTOWN,...,12.833333,-2.166667,0,0,1,0,0.0,0,97,10.800000
12,120230801,1,99457902,2023-08-01,22,2200,1040,345107,0,FROM DOWNTOWN,...,11.116666,-3.883334,1,0,0,0,0.0,0,112,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350319,120230930,2,100406606,2023-09-30,7,702,2312,353447,0,FROM DOWNTOWN,...,36.716666,6.716666,0,0,1,0,0.0,0,504,7.033333
350322,120230930,2,100406609,2023-09-30,7,702,2312,353448,0,TO DOWNTOWN,...,34.916666,4.916666,0,1,0,0,0.0,0,530,1.966666
350323,120230930,2,100406610,2023-09-30,7,702,2312,353448,0,TO DOWNTOWN,...,35.266666,5.266666,0,1,0,0,0.0,0,539,0.000000
350325,120230930,2,100406612,2023-09-30,7,702,2312,353449,0,FROM DOWNTOWN,...,31.866666,1.866666,0,0,1,0,0.0,0,552,0.000000
350326,120230930,2,100406613,2023-09-30,7,702,2312,353449,0,FROM DOWNTOWN,...,47.500000,17.500000,0,1,0,0,0.0,0,563,0.000000

In [ ]:
bna_weather = pd.read_csv('../data/bna_weather.csv')
bna_weather.head(10)